<div class="article-list">
    <h1>Articles</h1>

    <table>
        <tr class="article-list-header">
            <td>

            </td>
            <td>
                Name
            </td>
            <td>
                Actions
            </td>
        </tr>
        <tr *ngFor="let entity of entities; let i = index">
            <td>
                <a class="article-list-item-count">{{ i + 1 }}</a>
            </td>
            <td class="article-list-item-name-column">
                <a (click)="onSelect.emit({ value: entity })">{{ entity.name }}</a>
            </td>
            <td>
                <a (click)="onDelete.emit({ value: entity })" class="article-list-item-action">DELETE</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a (click)="onEdit.emit({ value: entity })" class="article-list-item-action">EDIT</a>
            </td>
        </tr>
    </table>

</div>
